<!-- home.html -->
{% extends "catalog/base.html" %}

{% block title %}Пост {{ post.title }}{% endblock %}

{% block content %}
<div  class="row">
    <div class="col-7 m-md-2">
      <p class="fs-2 text-start fw-bold">
        {{ post.title }}
      </p>
    </div>
</div>
<div  class="row">
    <div class="col-10 m-md-5">
      <p class="fs-4 text-start">
        {{ post.content }}
      </p>
    </div>
</div>
<div  class="row">
    <div class="col-4 m-md-4">
      <p class="fs-4 text-start">
        <a class="btn btn-secondary m-lg-2" href="{% url 'blog:post_list' %}">Вернуться</a>
        <a class="btn btn-primary m-lg-2" href="{% url 'blog:post_update' post.pk %}">Редактировать</a>
        <a class="btn btn-danger m-lg-2" href="{% url 'blog:post_delete' post.pk %}">Удалить</a>
      </p>
    </div>
</div>
{% endblock %}